.movie-details-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-gap: 20px;
    height: 80vh;
}

.movie-details-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.text-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.text-info p {
    margin-bottom: 10px;
}

.text-info h1 {
    margin-bottom: 10px;
    text-align: center;
}

.genere {
    background-color: rgb(219, 160, 84);
    color: white;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 10px;
}

.btn {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;

    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 30px;

}

.btn:hover {
    background-color: darkgreen;

    color: white;
}

.summary {
    margin-top: 20px;
    grid-column: span 2;

}


.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.modal-content {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}