/* Contact.css */
.contact-container {
    text-align: center;
    margin: 50px;
    height: 65vh;
}

h1 {
    color: #333;
}

.contact-info {
    font-size: 18px;
    margin: 10px 0;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}