/* home.css */

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 80%;
    margin: auto;
    margin-bottom: 50px;
}

/* Responsive layout for tablets */
@media screen and (max-width: 768px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Responsive layout for mobile */
@media screen and (max-width: 480px) {
    .card-grid {
        grid-template-columns: 1fr;
    }
}